<header class="header" id="header" [class.body-pd]="isNavVisible()">
    <div class="header_toggle" (click)="toggleNav()">
        <i [class]="isNavVisible() ? 'bi bi-x-lg' : 'bi bi-list'" id="header-toggle"></i>
    </div>
    <div>
        @if (user$ | async; as user) {
        <app-user-card [username]="user.apellidoPaterno + ' ' + user.apellidoMaterno + ', ' + user.nombres"
            [role]="user.rol" [image]="user.imagenPerfil"></app-user-card>
        }
    </div>
</header>

<div class="l-navbar" id="nav-bar" [class.show]="isNavVisible()">
    <nav class="nav">
        <div>
            <a href="home" class="nav_logo">
                <img src="media/logo-removebg-preview.png" height="30" alt="">
                <span class="nav_logo-name">BBBootstrap</span>
            </a>
            <div class="nav_list">
                @for (menuItem of filteredMenuItems$ | async; track $index) {
                <a [routerLink]="menuItem.link" class="nav_link" [class.active]="activeLink() === menuItem.label"
                    (click)="setActive(menuItem.label)">
                    <i [class]="menuItem.icon + ' nav_icon'"></i>
                    <span class="nav_name">{{ menuItem.icon }}</span>
                </a>
                }
            </div>
        </div>
        <a (click)="onLogout()" class="nav_link">
            <i class='bi bi-box-arrow-left nav_icon'></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>

<div class="bg-light container-content">
    <router-outlet></router-outlet>
</div>